#container{
    float: left;
    border-radius: 50px;
    padding: 100px;
    left: 480px;
    background-color: rgb(5, 96, 124);
    position: absolute;
    top: 140px;
    
}
body{
    background: linear-gradient(to top,black,blue,violet);
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 365px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
#welcome{
    font-size: 30px;
    color: aqua;
}
a{
    color: rgb(0, 255, 255);
    text-decoration: none;
  }
  a:hover {
    color: rgb(0, 4, 255);
    text-decoration: underline;
  }
  a:active {
    color: rgb(17, 140, 229);
    text-decoration: underline;
  }
#box{
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove 5s infinite;
    background-image: url(image/memorable.jpg);
}
  
@keyframes mymove {
    0%   {top: -340px; left: 0px; }
    25%  {top: -340px; left: 690px; }
    50%  {top: 250px; left: 690px; }
    75%  {top: 250px; left: 0px; }
    100% {top: -340px; left: 0px; }
}